* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: Poppins, sans-serif;
  color: #000;
  font-style: normal;
  font-weight: 400;
  background-size: cover;
  font-size: 16px;
}
body:before {
  z-index: -1;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background:/* radial-gradient(
      circle at 25% 0,
      rgba(187, 150, 254, 0.5),
      rgba(227, 255, 240, 0) 50%
    ),
    radial-gradient(
        circle at 80% 80%,
        rgba(187, 150, 254, 0.5),
        rgba(131, 165, 203, 0) 50%
      )
      #334e77;*/black
}
.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  padding: 16px 0;
  width: 100%;
  backdrop-filter: blur(4px) saturate(10%);
  -webkit-backdrop-filter: blur(4px) saturate(10%);
  background-color: rgba(255, 255, 255, 0.2);
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  background: linear-gradient(
135deg,#ffca43,#ff7347);
  box-shadow: 0 0 30px rgb(255 159 69 / 30%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.logo .col {
  flex-direction: column;
  display: flex;
  margin-left: 20px;
}
.h2, h2 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
.logo .col>*+* {
  margin-top: 5px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header-btn, .header-btn span {
  background: linear-gradient(
    135deg,#ffca43,#ff7347);
  transition: .2s ease-out;
}
.header-btn {
  border: none;
  /* background: none; */
  border-radius: 15px;
  padding: 6px;
}
.header-btn span {
  border-radius: 15px;
  /* border: 6px solid #2C3A55; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 17px 31px;
}
.header-btn span:hover{
  background: linear-gradient(
    135deg,#ffc32b,#fd6436);

}
.container1, .container-fluid { 
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 2;
}
.col {
  flex-direction: column;
  display: flex;
}
.container1 .card1 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  backdrop-filter: blur(4px) saturate(10%);
  -webkit-backdrop-filter: blur(4px) saturate(10%);
  background-color: rgba(255, 255, 255, 0.2);
}
.container1 .card1 ul {
  color: white;
  max-width: 360px;
  width: 100%;
}
.card1 .h4 {
  color: rgba(255, 255, 255, 0.89);
  opacity: 0.78;
  margin: 2px 0 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  font-size: 1.2rem;
}
.card1 h4 {
  color: rgba(255, 255, 255, 0.89);
  margin: 2px 0 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  font-size: 1.2rem;
}
.container1 h1 {
  color: white;
  font-style: normal;
  line-height: 100%;
  font-size: 3.2rem;
}
.container1 h5 {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.container1 .h5 {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.container1 .card1 ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.links {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.links-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.icon {
  flex-direction: column;
  transition: 0.2s ease-out;
}
.icon span:hover + span{
    color: #ffca43;  
  }
  .links-row a:hover{
    transform: scale(1.1);
  }
.icon,
img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt {
  padding-top: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
}
a {
  text-decoration: none;
}
.links-row .img {
  text-decoration: none;
  border-radius: 15px;
  background: linear-gradient(
    135deg,#ffca43,#ff7347); 
   /* background: linear-gradient(
    135deg,#b4b4b4,#616161);*/
  margin: 6px;
  padding: 18px 20px;
}
.dashboard {
    margin-top: 55px;
  padding: 0 0 60px;
}
.container1 {
  max-width: 1220px;
}
.container1,
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.dashboard h2 {
  margin: 0 0 -42px;
}
.h2 {
    color: white;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
.dashboard .card1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card1 {
  padding: 30px 50px;
  background: rgba(27, 29, 34, 0.25);
  border-radius: 24px;
}
.logo {
  display: flex;
  align-items: center;
}
.row {
  flex-wrap: wrap;
}
.col,
.row {
  display: flex;
}
.info-col {
  display: flex;
  flex-direction: column;
}
.info-col .small {
  margin-top: 2px;
}
.small {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  color: hsla(0, 0%, 100%, 0.5);
}
a,
button,
span {
  display: inline-block;
}
.info-col h6 {
  opacity: 0.5;
  margin-top: 6px;
}
.arrow-btn {
  display: flex;
  align-items: center;
  transition: 0.2s ease-out;
  opacity: 0.5;
}
.button-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
}
.button,
.button span {
  text-align: center;
  transition: 0.2s ease-out;
}
.button {
  background: linear-gradient(
135deg,#ffca43,#ff7347);
  border-radius: 12px;
  border: 1px solid #ffaf02;
}
.button:hover{
    background: linear-gradient(
      135deg,#ffb90a,#ff5a28);;
}
.button-transparent:hover{
    background: none;
    color: white;
    border: 1px solid #fff;

}
.button span {
  line-height: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.links > * + * {
    margin-left: 100px;
  }
.button,
.button span {
  text-align: center;
  transition: 0.2s ease-out;
}
.button-col > * + * {
  margin-top: 5px;
}
.button-transparent {
  background: 0 0;
  border-color: hsla(0, 0%, 100%, 0.5);
}
.button-transparent:hover{
    color: hsl(0, 0%, 100%);
    
  }
.block-hidden {
  margin: 30px 0 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.block-hidden table thead th {
    text-align: center;
    padding: 0 6px 6px;
}
#cd{
  display: none;
  max-height: 262px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.h5,
.h6 {
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
}
.link-copy h5 .ht{
  color: white;
}
.h5,
h5 {
  font-size: 14px;
}
.dashboard .row > * + * {
  margin-left: 60px;
}
.logo {
  display: flex;
  align-items: center;
}
.dashboard .logo-img {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #e5701b;
}
.logo-img {
  background: linear-gradient(135deg, #ffca43, #ff7347);
  box-shadow: 0 0 30px rgb(255 159 69 / 30%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.dashboard .logo .col {
  margin-left: 16px;
}
.logo .col {
  margin-left: 20px;
}
.col {
  display: flex;
  flex-direction: column;
}
.dashboard .logo .col h6 {
  color: hsla(0, 0%, 100%, 0.5);
}
.logo .col > * + * {
  margin-top: 5px;
}
.h4 {
  font-size: 18px;
}
.h3,
.h4 {
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
}
.arrow-btn{
    background: none;
    border: none;
}
.arrow-btn .icon1 {
    font-size: 10px;
}
.arrow-btn--txt, .arrow-btn .icon1 {
    color: #fff;
    transition: .2s ease-out;
}
.arrow-btn>*+* {
    margin-left: 6px;
}
.icon1 {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.affiliate h2 {
    margin: 0 0 -42px;
}
.affiliate .card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.link-copy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 14px;
}
.link-copy--wrap {
    border-radius: 100px;
    padding: 6px 14px;
    background: rgba(27,29,34,.25);
    display: flex;
    align-items: center;
}
.link-copy>*+* {
    margin-left: 7px;
}
.link-copy--btn, .link-copy--wrap p {
    font-size: 12px;
    color: hsla(0,0%,100%,.5);
}
.link-copy--wrap p {
    height: auto;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    width: 250px;
}
.link-copy--btn {
  border: none;
  background: none;
    display: flex;
    transition: .2s ease-out;
}
.link-copy--btn, .link-copy--wrap p {
    font-size: 12px;
    color: hsla(0,0%,100%,.5);
}
.link-copy--wrap>*+* {
    margin-left: 4px;
}
.affiliate .card1 .row>*+* {
    margin-left: 60px;
}
.icon1 {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.info-row__item span {
    background: linear-gradient(
135deg,#ffca43,#ff7347);
    border-radius: 20px;
    width: 44px;
    height: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
}
.info-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -20px;
}
.info-row__item {
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(27,29,34,.25);
    border-radius: 20px;
    padding: 4px;
    width: 96px;
}
.info-row__item h6 {
    color: #fff;
    padding-left: 8px;
}
.link-copy--btn {
  display: flex;
  transition: .2s ease-out;
}
.link-copy--wrap:before {
  content: attr(data-label);
  position: absolute;
  bottom: calc(100% + 5px);
  right: 0;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: hsla(0,0%,100%,.75);
  width: 50px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(27,29,34,.5);
  border-radius: 4px;
  pointer-events: none;
  transition: .2s ease-out;
  opacity: 0;
}
footer {
  margin: auto auto 0;
  width: 100%;
}
.footer {
  padding: 60px 0;
}
.footer .container1 {
  text-align: center;
}
.footer__wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 1rem;
  gap: 1rem;
}
.logo.certik {
  width: 160px;
}
.logo {
  display: flex;
  align-items: center;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
}
.logo.radar {
  filter: brightness(0) invert(1);
  width: 170px;
}



