@media only screen and (max-width: 1215px) {

  @media only screen and (max-width: 1170px) {
    .card1 {
      padding: 30px;
    }
    @media only screen and (max-width: 990px) {
        .header {
            padding: 10px 0;
        }
        .header .logo-img {
            width: 40px;
            height: 40px;
        }
        .header .logo .col {
            margin-left: 10px;
        }
        .header .logo .col .h2 {
            font-size: 18px;
        }
        .header .logo .col .h5 {
            font-size: 12px;
        }
        .header .logo .col>*+* {
            margin-top: 4px;
        }
        .header-btn {
            padding: 4px;
        }
        .header-btn span {
            padding: 12px 24px;
        }
      .container1 {
        display: block;
      }
      .static {
        padding-top: 26px;
      }
      .static span {
        padding-left: 0px;
      }
      .h2,
      h2 {
        font-size: 22px;
      }
      .card1 {
        padding: 30px;
      }
      .dashboard .card1 .arrow-btn {
        margin: 20px auto;
        justify-content: center;
        width: 100%;
      }
      .dashboard .card1 .button-col {
        max-width: 100%;
        width: 100%;
      }
      .links > * + * {
        margin-left: 0px;
      }
      .affiliate .card1 .col {
        width: 100%;
      }
      .affiliate .card1 .row {
        width: 100%;
        padding: 30px 0 0;
      }

      @media only screen and (max-width: 768px) {
        .header .logo-img {
            width: 35px;
            height: 35px;
        }
        .header .logo .col {
            display: none;
        }
        .header-btn span {
            font-size: 12px;
        }
        .container, .container-fluid {
            padding: 0 16px;
        }
        .container1 h1 {
          font-size: 2.2rem;
        }
        .dashboard {
          padding: 0 0 40px;
        }
        .dashboard h2 {
          margin: 0 0 15px;
        }
        .container1,
        .container-fluid {
          padding: 0 16px;
        }
        .dashboard .card1 .row {
          padding: 20px 0 0;
          margin: 0 0 -20px;
          width: 100%;
        }
        .card1 {
          padding: 20px 15px;
        }
        .dashboard .card1 .row .info-col {
          width: 42%;
          margin: 0 0 20px;
        }
        .link-copy h5 {
          width: 100%;
        }
        .link-copy--wrap {
          width: 100%;
          padding: 6px 10px;
        }
        .link-copy > * + * {
          margin: 7px 0 0;
        }
        .link-copy--wrap p {
          width: calc(100% - 16px);
        }
        @media only screen and (max-width: 355px) {
          .header {
            height: 12.5vh;
          }

          @media only screen and (max-width: 249px) {
            .header {
              height: 20.5vh;
            }
          }
        }
      }
    }
  }
}
